#identity-box {
    margin-inline-end: unset !important;
    height: unset !important;
}

#identity-icon-box,
#tracking-protection-icon-container {
    display: flex;
    justify-content: center;
}

#identity-permission-box,
#identity-permission-box[open="true"],
#identity-permission-box[hasPermissions],
#identity-permission-box[hasSharingIcon] {
    gap: 0;
}

#blocked-permissions-container {
    gap: 4px;
}

.identity-box-button {
    padding-inline: 8px !important;
}

@media -moz-pref("browser.urlbar.trustPanel.featureGate") {
    #trust-icon-container {
        padding-inline: 8px !important;
    }
}
