:root {
    --urlbar-min-height: 32px !important;
    --urlbar-margin-inline: 0 !important;
    --urlbar-container-padding: 0 !important;
}

toolbaritem[style*="urlbar-container-height"] {
    --urlbar-container-height: 32px !important;
}

#urlbar-container,
#search-container {
    padding-block: unset !important;
}

#urlbar[breakout] {
    top: 0 !important;
    width: 100%;
}

#urlbar[breakout][breakout-extend] {
    width: 100% !important;
}

#urlbar-background,
#searchbar {
    border: none !important;
    background-color: transparent !important;
}

#urlbar-input-container {
    border: none !important;
}

.urlbar-page-action,
#urlbar-go-button,
.search-go-button {
    width: var(--urlbar-min-height) !important;
    height: var(--urlbar-min-height) !important;
    padding: calc(var(--urlbar-icon-padding) + 2px) !important;
}
