:root {
    --urlbar-min-height: 32px !important;
    --urlbar-margin-inline: 0 !important;
    --urlbar-container-padding: 0 !important;
}

toolbaritem[style*="urlbar-container-height"] {
    --urlbar-container-height: 32px !important;
}

#urlbar[breakout] {
    width: var(--urlbar-width);
}

#urlbar[breakout][breakout-extend] {
    width: var(--urlbar-width) !important;
}

#urlbar-background,
#searchbar {
    border: none !important;
    background-color: transparent !important;
}

#urlbar-input-container,
.urlbar-input-container {
    border: none !important;
}

.urlbar-input-container {
    background-color: var(--toolbar-bgcolor);
}

.urlbar-page-action,
#urlbar-go-button,
.search-go-button {
    width: var(--urlbar-min-height) !important;
    height: var(--urlbar-min-height) !important;
    padding: calc(var(--urlbar-icon-padding) + 2px) !important;
}

#urlbar-searchmode-switcher {
    padding-inline-start: 10px !important;
    background-color: unset !important;
}
